p {
    width: 250px;
    line-height: 80px;
    text-align: center;
    border: 1px solid gray;
    padding: 2px;
}

p.selected {
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid silver;
    background: cadetblue;
}

p.selected-tab {
    background: #2b908f;
    font-weight: bold;
    border: 3px solid darkblue;
    padding: 0;
}

div.item-grid-cell {
    width: 350px;
    height: 200px;
    text-align: center;
}

div.item-grid-cell>span {
    display: block;
    line-height: 100px;
    border-bottom: 1px dotted gray;
    text-align: center;
}

#presentation-grid .item-grid-row {
    clear: left;
}

#presentation-grid .presentation-cell {
    width: 15%;
    max-width: 400px;
    float: left;
    margin: 0.5em;
    padding: 1em;
    display: block;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
}

.presentation-cell h3 {
    margin: 3px;
    padding: 3px;
}

#presentation-grid .presentation-cell:hover {
    background: silver;
    border: 2px solid dodgerblue;
}

#presentation-grid .presentation-cell .presentation-description {
    color: silver;
}

#presentation-grid .presentation-cell:hover .presentation-description {
    color: black;
}

lazy-load.selected {
    background: lightgreen;
}

span.highlighted {
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    color: #004444;
}

.section-layout {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

.section-header {
    font-size: larger;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.component-header {
    text-align: left;
}

.component-section {
    padding: 1em;
    margin: 1em;
}

.tab-icon {
    margin-right: 5px;
}
