:host([theme="multi-line-tabs"]) [part="tabs"] {
  flex-wrap: wrap;
--_lumo-tabs-overflow-mask-image: none !important;
}

:host([theme="multi-line-tabs"]) [part="forward-button"],
:host([theme="multi-line-tabs"]) [part="back-button"] {
  display: none;
}
