name: Code Quality

on:
  pull_request:
    branches: [master, development]
  push:
    branches: [master, development, java-8]

jobs:
  code_scan:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 10
        uses: actions/setup-java@v1
        with:
          java-version: 10
      - name: Scan on SonarCloud.io
        run: mvn verify sonar:sonar -Psonar --file superfields/pom.xml
        env:
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_IO_LOGIN_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
