name: Deploy demo to demo server

on:
  release:
    types: [created]
  push:
    branches: [385-deploy-elsewhere]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Install
        run: mvn install -P production,deploy-demo --file pom.xml
      - name: Deploy .war file
        run: mvn cargo:redeploy -P production,deploy-demo --file demo-v23/pom.xml
        env:
          DEMO_DEPLOY_HOST: ${{ secrets.DEMO_DEPLOY_HOST }}
          DEMO_DEPLOY_PASSWORD: ${{ secrets.DEMO_DEPLOY_PASSWORD }}
          DEMO_DEPLOY_PORT: ${{ secrets.DEMO_DEPLOY_PORT }}
          DEMO_DEPLOY_PROTOCOL: ${{ secrets.DEMO_DEPLOY_PROTOCOL }}
          DEMO_DEPLOY_USER: ${{ secrets.DEMO_DEPLOY_USERS }}
