name: Deploy demo to demo server

on:
  release:
    types: [ created ]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - name: Install
        run: mvn install -P production,deploy-demo --file pom.xml -s .github/settings.xml
      - name: Deploy .war file
        run: mvn cargo:redeploy -P production,deploy-demo --file demo-v24/pom.xml -s .github/settings.xml
        env:
          DEMO_DEPLOY_HOST: ${{ secrets.DEMO_DEPLOY_HOST }}
          DEMO_DEPLOY_PASSWORD: ${{ secrets.DEMO_DEPLOY_PASSWORD }}
          DEMO_DEPLOY_PORT: ${{ secrets.DEMO_DEPLOY_PORT }}
          DEMO_DEPLOY_PROTOCOL: ${{ secrets.DEMO_DEPLOY_PROTOCOL }}
          DEMO_DEPLOY_USER: ${{ secrets.DEMO_DEPLOY_USER }}
